@import url(/moodle/theme/styles.php/eguru/1450231035/all/chunk1);
@import url(/moodle/theme/styles.php/eguru/1450231035/all/chunk2);
input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{width:100%;max-width:210px}select{width:224px;height:40px;line-height:34px;border-color:#cbcbcb}select[multiple]{max-width:none}textarea{height:auto;font-size:16px;color:#545251;line-height:inherit;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:inherit;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}select:focus{outline:0
none}.uneditable-input,.uneditable-textarea{border-color:#cbcbcb;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}button,
input.form-submit,
input[type="button"],
input[type="submit"],
input[type="reset"],
#notice .singlebutton + .singlebutton input,
.submit.buttons input[name="cancel"]{height:40px;color:#585858;line-height:40px;background:#cdcdcd;padding:0
18px;border:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;text-transform:uppercase;text-shadow:none}.dir-rtl button,
.dir-rtl input.form-submit,
.dir-rtl input[type="button"],
.dir-rtl input[type="submit"],
.dir-rtl input[type="reset"]{margin:0
5px 10px 0}input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"],
td.submit
input{color:#fff;background:inherit;text-shadow:none}button:hover,
input.form-submit:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input.form-submit:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button:active,
input.form-submit:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button.active,
input.form-submit.active,
input.active[type="button"],
input.active[type="submit"],
input.active[type="reset"],
button.disabled,
input.form-submit.disabled,
input.disabled[type="button"],
input.disabled[type="submit"],
input.disabled[type="reset"],
button[disabled],
input.form-submit[disabled],
input[type="button"][disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
#notice .singlebutton + .singlebutton input:hover,
.submit.buttons input[name="cancel"]:hover,
#notice .singlebutton + .singlebutton input:focus,
.submit.buttons input[name="cancel"]:focus,
#notice .singlebutton + .singlebutton input:active,
.submit.buttons input[name="cancel"]:active{color:#585858;background:#b5b5b5;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:0}table#form td.submit,
.form-buttons,
.path-admin .buttons,
#fitem_id_submitbutton,
.fp-content-center form+div,div.backup-section+form,#fgroup_id_buttonar{background:none;padding:0;border-top:0}.dir-rtl table#form td.submit,
.dir-rtl .form-buttons,
.dir-rtl .path-admin .buttons,
.dir-rtl #fitem_id_submitbutton,
.dir-rtl .fp-content-center form + div,
.dir-rtl div.backup-section + form,
.dir-rtl
#fgroup_id_buttonar{background:none;padding:0;border-top:0}@media (min-width: 768px) and (max-width: 979px){.path-admin .buttons,.form-buttons{padding-left:200px}.dir-rtl .path-admin .buttons,
.dir-rtl .form-buttons{padding-right:200px;padding-left:0}}@media (min-width: 980px) and (max-width: 1199px){.path-admin .buttons,.form-buttons{padding-left:220px}.dir-rtl .path-admin .buttons,
.dir-rtl .form-buttons{padding-right:220px;padding-left:0}}@media (min-width: 1200px){.path-admin .buttons,.form-buttons{padding-left:265px}.dir-rtl .path-admin .buttons,
.dir-rtl .form-buttons{padding-right:165px}}#page-admin-tool-timezoneimport-index #region-main .path-admin .buttons,
#page-admin-tool-timezoneimport-index.dir-rtl #region-main .path-admin
.buttons{padding:0;text-align:center}input.form-submit:hover,
input#id_submitbutton:hover,
input#id_submitbutton2:hover,
.path-admin .buttons input[type="submit"]:hover,
td.submit input:hover,
input.form-submit:focus,
input#id_submitbutton:focus,
input#id_submitbutton2:focus,
.path-admin .buttons input[type="submit"]:focus,
td.submit input:focus,
input.form-submit:active,
input#id_submitbutton:active,
input#id_submitbutton2:active,
.path-admin .buttons input[type="submit"]:active,
td.submit input:active,
input.form-submit.active,
input#id_submitbutton.active,
input#id_submitbutton2.active,
.path-admin .buttons input.active[type="submit"],
td.submit input.active,
input.form-submit.disabled,
input#id_submitbutton.disabled,
input#id_submitbutton2.disabled,
.path-admin .buttons input.disabled[type="submit"],
td.submit input.disabled,
input.form-submit[disabled],
input#id_submitbutton[disabled],
input#id_submitbutton2[disabled],
.path-admin .buttons input[type="submit"][disabled],
td.submit input[disabled]{color:#fff;background:inherit}.dir-rtl input[name="searchwikicontent"] + input[type="submit"],
.dir-rtl select + input[type="submit"],
.dir-rtl input[type="text"] + input[type="button"],
.dir-rtl input[type="password"] + input[type="submit"],
.dir-rtl input[type="text"] + button,
.dir-rtl input[type="text"]+input[type="submit"]{margin:0
5px 10px 0}input[type="radio"]+label,input[type="checkbox"]+label{font-size:14px}#page-admin-tool-installaddon-index #installfromrepobox .singlebutton input[type="submit"]{padding:0
18px}.userselector
select{max-width:none}.form-item,
.mform
.fitem{margin-bottom:30px}.form-item .form-label,
.mform .fitem
div.fitemtitle{padding-top:10px}.mform .fpassword
.unmask{padding:0
0 0 25px;margin-left:15px;position:relative}.dir-rtl .mform .fpassword
.unmask{padding:0
25px 0 0;margin-left:0;margin-right:15px}.mform .fpassword .unmask>input{position:absolute;top:4px;left:0}.dir-rtl .mform .fpassword .unmask>input{left:auto;right:0}.mform .fpassword .unmask>label{font-size:14px;padding:0;margin:0;text-transform:uppercase}.form-item .form-description,.felement.fstatic{color:#757575}.mform
.fdescription.required{color:#757575}.path-admin-mod-lti .mform .fitem
.fitemtitle{min-width:inherit;padding-left:0}.form-password
.unmask{margin-left:5px}.dir-rtl .form-password
.unmask{margin-right:5px;margin-left:0}@media (max-width: 979px){.form-item,
.mform
.fitem{margin-bottom:20px}.dir-rtl .form-item .form-label,
.dir-rtl .mform .fitem
div.fitemtitle{float:none;text-align:right}.dir-rtl .form-item .form-label label,
.dir-rtl .form-label .form-shortname{text-align:right}}@media (max-width: 767px){.form-item,
.mform
.fitem{margin-bottom:10px}.form-item .form-label,
.mform .fitem
div.fitemtitle{padding-top:0}body #region-main .mform:not(.unresponsive) .fitem
.fitemtitle{margin-top:0;margin-bottom:0}}@media (max-width: 600px){.mform .fpassword .unmask,
.dir-rtl .mform .fpassword
.unmask{margin:0;display:block}}@media(min-width:980px) and (max-width:1199px){.dir-rtl .form-item .form-setting,
.dir-rtl .form-item .form-description,
.dir-rtl .mform .fitem .felement,
#page-mod-forum-search.dir-rtl .c1,
.dir-rtl .mform .fdescription.required,
.dir-rtl .userprofile dl.list dd,
.dir-rtl .form-horizontal
.controls{margin-left:0}}@media (min-width: 1200px){.dir-rtl .form-item .form-setting,
.dir-rtl .form-item .form-description,
.dir-rtl .mform .fitem .felement,
.dir-rtl .mform .fdescription.required,
.dir-rtl .userprofile dl.list dd,
.dir-rtl .form-horizontal
.controls{margin-left:0}}.block{padding:0;background:none;border-color:inherit;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.block
.header{background:inherit;border-bottom:1px solid}.block .header
h2{font-weight:normal;font-size:26px;color:inherit;line-height:32px;padding:10px
15px;text-shadow:none;text-transform:none}.block .header
.block_action{padding:15px
15px 17px}.block
.content{padding:10px
15px}.block_navigation
.content{padding:5px
0}.block_navigation
.block_tree{font-size:16px;line-height:22px}.block_navigation .block_tree .tree_item>a{color:#545251;display:inline-block}.block_navigation .block_tree .active_tree_node > a,
.block_navigation .block_tree .tree_item > a:hover,
.block_navigation .block_tree .tree_item>a:focus{color:inherit}.block_navigation .block_tree .tree_item.branch.navigation_node,
.dir-rtl .block_navigation .block_tree
.tree_item.branch.navigation_node{padding:8px
15px}.block_navigation .block_tree .type_activity > p.tree_item.branch.hasicon.active_tree_node,
.block_navigation .block_tree
.tree_item{padding-top:8px;padding-bottom:8px;margin:0}.block_navigation .block_tree li.contains_branch ul>li{padding-right:15px;padding-left:10px}.dir-rtl .block_navigation .block_tree li.contains_branch ul>li{padding-right:10px;padding-left:15px}.dir-ltr .block_navigation .block_tree .tree_item.branch,
.dir-ltr .jsenabled .block_navigation .block_tree
.tree_item.emptybranch{background-position:0 10px}.block_navigation .block_tree li.item_with_icon > p img,
.block_navigation .block_tree .type_activity > p.tree_item.active_tree_node img,
.block_navigation .block_tree li > p.hasicon
img{top:10px}.block_settings
.content{padding:5px
0}.block_settings .content
hr{display:none}.block_settings
.block_tree{font-size:16px}.block_settings .block_tree>li{padding-right:15px;padding-left:10px}.dir-rtl .block_settings .block_tree>li{padding-right:10px;padding-left:15px}.block_settings .block_tree li>p.tree_item{padding-top:8px;padding-bottom:8px;margin:0}.block_settings .block_tree .tree_item>a{color:#545251;display:inline-block}.block_settings .block_tree .active_tree_node > a,
.block_settings .block_tree .tree_item > a:hover,
.block_settings .block_tree .tree_item>a:focus{color:inherit}.block_settings .block_tree
.tree_item.branch{background-position:0 10px}.block_settings .block_tree li.item_with_icon > p
img{top:10px}.block_settings
.footer{padding:10px
15px 0;margin-bottom:0}.block_settings
#adminsearchquery{max-width:none;height:40px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}.block_settings .footer .adminsearchform div>input[type="submit"]{margin-left:0}.dir-rtl .block_settings .footer .adminsearchform div>input[type="submit"]{margin-right:0}.block .minicalendar th>abbr{font-weight:normal;border-bottom:0;text-decoration:none}.block .minicalendar td.day.today>a{color:#fff}.block .minicalendar td.day.today,
.block .minicalendar td.day:hover{color:#fff;background:inherit}.block .minicalendar td.day.calendar_event_course:hover{background-color:#ffd3bd}.block .minicalendar td.day.calendar_event_global:hover{background-color:#d6f8cd}.block .minicalendar td.day.calendar_event_group:hover{background-color:#fee7ae}.block .minicalendar td.day.calendar_event_user:hover{background-color:#dce7ec}.block .minicalendar td .calendar-event-panel{color:#545251}table.flexible,.generaltable{}.no-overflow>.generaltable{margin-bottom:20px}table.flexible th,
.generaltable th,
table.flexible td,
.generaltable
td{padding:13px;border-top:0}table.flexible th,
.generaltable
th{}table.flexible thead th,
.generaltable thead
th{color:#fff;background:inherit}table.flexible thead th > a,
.generaltable thead th>a{color:#fff}table.flexible tbody th,
.generaltable tbody
th{color:inherit}table#explaincaps tbody>tr:nth-child(odd)  >td,
table#defineroletable tbody > tr:nth-child(odd) > td,
table.grading-report tbody > tr:nth-child(odd) > td,
table#listdirectories tbody > tr:nth-child(odd) > td,
table.rolecaps tbody > tr:nth-child(odd) > td,
table.userenrolment tbody > tr:nth-child(odd) > td,
table#form tbody > tr:nth-child(odd) > td,
form#movecourses table tbody > tr:nth-child(odd) > td,
#page-admin-course-index .editcourse tbody > tr:nth-child(odd) > td,
.forumheaderlist tbody > tr:nth-child(odd) > td,
table.flexible tbody > tr:nth-child(odd) > td,
.generaltable tbody > tr:nth-child(odd) > td,
table#explaincaps tbody > tr:nth-child(odd) > th,
table#defineroletable tbody > tr:nth-child(odd) > th,
table.grading-report tbody > tr:nth-child(odd) > th,
table#listdirectories tbody > tr:nth-child(odd) > th,
table.rolecaps tbody > tr:nth-child(odd) > th,
table.userenrolment tbody > tr:nth-child(odd) > th,
table#form tbody > tr:nth-child(odd) > th,
form#movecourses table tbody > tr:nth-child(odd) > th,
#page-admin-course-index .editcourse tbody > tr:nth-child(odd) > th,
.forumheaderlist tbody > tr:nth-child(odd) > th,
table.flexible tbody > tr:nth-child(odd) > th,
.generaltable tbody>tr:nth-child(odd)>th{background-color:#f7f7f7}.user-enroller-panel .uep-search-results .users tbody tr:hover > td,
.user-enroller-panel .uep-search-results .cohorts tbody tr:hover > td,
table.grading-report tbody tr:hover > td,
.forumheaderlist tbody tr:hover > td,
.generaltable tbody tr:hover > td,
table.flexible tbody tr:hover > td,
.category_subcategories tbody tr:hover > td,
table#modules tbody tr:hover > td,
table#permissions tbody tr:hover > td,
.user-enroller-panel .uep-search-results .users tbody tr:hover > th,
.user-enroller-panel .uep-search-results .cohorts tbody tr:hover > th,
table.grading-report tbody tr:hover > th,
.forumheaderlist tbody tr:hover > th,
.generaltable tbody tr:hover > th,
table.flexible tbody tr:hover > th,
.category_subcategories tbody tr:hover > th,
table#modules tbody tr:hover > th,
table#permissions tbody tr:hover>th{background-color:#f3f3f3}.path-mod-forum .forumheaderlist thead
.header{color:#fff;background:#inherit;padding:13px}.path-mod-forum .forumheaderlist tbody .discussion
td{padding:8px}.path-mod-forum .forumheaderlist .discussion .topic,
.path-mod-forum .forumheaderlist .discussion .discussionsubscription,
.path-mod-forum .forumheaderlist .discussion .topic.starter,
.path-mod-forum .forumheaderlist .discussion .picture,
.path-mod-forum .forumheaderlist .discussion .author,
.path-mod-forum .forumheaderlist .discussion .replies,
.path-mod-forum .forumheaderlist .discussion
.lastpost{vertical-align:middle}.userlist table#participants td,
.userlist table#participants
th{padding:8px}table thead th label,
#page-admin-tool-messageinbound-index .generaltable thead th .handler-function{color:#fff}#page-admin-report-eventlist-index #region-main #report-eventlist-table{overflow-x:auto}.forumpost{padding:0;margin-bottom:20px;background-color:transparent;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.forumpost
.header{margin-bottom:3px}.forumpost .picture
img{-webkit-border-radius:18px;-moz-border-radius:18px;border-radius:18px;margin:0}.forumpost .picture
img.userpicture{margin-right:0;margin-left:0}.dir-rtl .forumpost .picture
img.userpicture{margin-right:0;margin-left:0}.forumpost .row .left>a{display:inline-block}.forumpost
.subject{font-weight:normal;font-size:18px}.forumpost
.author{padding:4px
0 0}.dir-rtl .forumpost .options .commands,
.dir-rtl .forumpost .content .attachments,
.dir-rtl .forumpost .options .footer,
.dir-rtl .forumpost .options
.link{text-align:left}.forumpost .options .commands>a{color:#545251;margin:0
6px;display:inline-block;vertical-align:middle}.forumpost .options .footer>a{color:#545251}.forumpost .options .commands > a:hover,
.forumpost .options .commands > a:focus,
.forumpost .options .footer > a:hover,
.forumpost .options .footer>a:focus{color:inherit;text-decoration:none}.dir-rtl .blog_entry
.content{margin-right:43px;margin-left:0}.blog_entry
.audience{font-weight:bold;color:inherit}.dir-rtl .blog_entry
.audience{text-align:left}.blog_entry .content
p{font-size:16px;line-height:22px}.blog_entry
.tags{margin-bottom:15px}.blog_entry .content
.commands{margin-bottom:15px}.blog_entry .content .commands>a{color:#545251;margin:0
6px;display:inline-block;vertical-align:middle}.blog_entry .content .commands > a:hover,
.blog_entry .content .commands>a:focus{color:inherit;text-decoration:none}.blog_entry .content>.mdl-left{padding:15px;border:1px
solid #e5e5e5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.blog_entry .content>.mdl-left>.comment-link{font-size:12px;color:#545251}.blog_entry .content > .mdl-left > .comment-link:hover,
.blog_entry .content>.mdl-left>.comment-link:focus{color:#545251;text-decoration:none}.comment-ctrl{padding:7px
0 0}.comment-list
li{padding:10px;border:1px
solid #e5e5e5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin:0
0 15px}.comment-list li .comment-message>.comment-message-meta{min-height:20px;padding-right:10px}.dir-rtl .comment-list li .comment-message>.comment-message-meta{padding-right:0;padding-left:10px}.comment-message
.picture{margin-right:5px}.comment-message .picture>a{display:inline-block}.dir-rtl .comment-message
.picture{margin-right:0;margin-left:5px}.comment-message
.user{font-size:14px}.comment-message
.time{font-size:10px}.comment-message
.text{padding:5px
0 0}.comment-delete{position:absolute;top:2px;right:7px;margin:0}.dir-rtl .comment-delete{position:absolute;right:auto;left:7px;margin:0}.comment-area{padding:0}.comment-area
.bd{margin:0
0 20px}.comment-area textarea[cols]{width:100%;font-size:14px;background:#f6f6f6;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}.comment-area
.fd{text-align:left}.dir-rtl .comment-area
.fd{text-align:right}.comment-area .fd>a{font-size:14px;color:#fff;line-height:40px;background:inherit;padding:0
18px;display:inline-block;text-transform:uppercase}.comment-area .fd > a:hover,
.comment-area .fd>a:focus{color:#fff;background:inherit;text-decoration:none}.addbloglink{padding:10px
0}.dir-ltr
.addbloglink{text-align:right}.dir-rtl
.addbloglink{text-align:left}.addbloglink
a{color:#fff;line-height:40px;background:inherit;padding:0
18px;display:inline-block;text-transform:uppercase}.addbloglink a:hover,
.addbloglink a:focus{color:#fff;background:inherit;text-decoration:none}.loginbox,.loginbox.twocolumns{font-size:16px;line-height:22px;margin-right:0;margin-left:0}.loginbox
h2{font-weight:bold;padding:0;margin:20px
0 10px}.loginbox
a{text-decoration:underline}.loginbox a:hover{text-decoration:none}.loginbox
.subcontent{padding:0;margin:0}.loginbox input[type="submit"]{margin-left:0}.loginbox .loginpanel
.loginform{padding-bottom:24px;margin:-13px 0 0;overflow:hidden}.loginbox .loginform .form-label{margin-top:34px}.loginbox .loginform .form-input{}.loginbox .loginform .form-input
input{width:100%;max-width:224px;margin-bottom:0}.loginbox
.rememberpass{margin:0
0 20px}.loginbox .rememberpass>label{font-size:16px}.loginbox .loginpanel
.desc{margin:20px
0}.loginbox .signuppanel
.subcontent{color:#313131;padding-top:6px}.loginbox .signuppanel .subcontent
ol{padding:25px
0 10px 25px;margin:0}.dir-rtl .loginbox .signuppanel .subcontent
ol{padding:25px
25px 10px 0}.loginbox .signuppanel .subcontent ol
li{color:#525252;line-height:22px}.dir-ltr .loginbox .signuppanel .subcontent ol
li{padding-left:10px}.dir-rtl .loginbox .signuppanel .subcontent ol
li{padding-right:10px}.dir-ltr .loginbox
.signupform{text-align:left}.dir-rtl .loginbox
.signupform{text-align:right}@media (max-width: 599px){.loginbox .loginform .form-label,
.loginbox .loginform .form-input{width:100%;text-align:left}.dir-rtl .loginbox .loginform .form-label{text-align:right}.dir-rtl .loginbox .loginform .form-input{margin-right:0}.dir-ltr .loginbox h2,
.dir-ltr .loginbox
.subcontent{text-align:left}.dir-rtl .loginbox h2,
.dir-rtl .loginbox
.subcontent{text-align:right}}@media (min-width: 600px){.loginbox .loginform .form-label{width:46%}.loginbox .loginform .form-label
label{line-height:40px;margin-bottom:0}.loginbox .loginform .form-input{width:52%;margin-top:34px}.dir-rtl .loginbox .loginform .form-input{float:left;margin-right:0}.dir-ltr .loginbox
.rememberpass{margin-left:48%;text-align:left}.dir-ltr .loginbox .loginsub.subcontent input[type="submit"]{margin-left:48%;display:block}.dir-rtl .loginbox
.rememberpass{margin-right:48%;text-align:right}.dir-rtl .loginbox .loginsub.subcontent input[type="submit"]{margin-right:48%;display:block}}@media (min-width: 768px) and (max-width: 979px){.loginbox .loginform .form-input
input{width:auto}.loginbox
.rememberpass{margin-left:0;text-align:center}.loginbox .loginsub.subcontent input[type="submit"]{margin-left:0;text-align:center;display:inline-block}}#frontpage-category-names{border:1px
solid}#frontpage-category-names
h2{font-size:26px;line-height:32px;background:inherit;padding:10px
15px;border-bottom:1px solid;margin:0}.course_category_tree.frontpage-category-names{padding:0
15px 15px}.course_category_tree.frontpage-category-names .collapsible-actions{padding:10px
0 0}.course_category_tree.frontpage-category-names .collapsible-actions
.collapseexpand{font-size:14px;color:#545251}.course_category_tree.frontpage-category-names .category>.info{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.course_category_tree.frontpage-category-names .category>.info>.categoryname{font-size:18px;line-height:25px;background:none;padding:7px
0;margin:0}.course_category_tree.frontpage-category-names .category > .info > .categoryname,
.dir-rtl .course_category_tree.frontpage-category-names .category > .info > .categoryname,
.course_category_tree.frontpage-category-names .category.with_children > .info > .categoryname,
.course_category_tree.frontpage-category-names .category.with_children.collapsed > .info > .categoryname,
.dir-rtl .course_category_tree.frontpage-category-names .category.with_children.collapsed>.info>.categoryname{background:none}.course_category_tree.frontpage-category-names .category > .info > .categoryname > a,
.course_category_tree.frontpage-category-names .category>.info>.categoryname>span{vertical-align:middle}.course_category_tree.frontpage-category-names .category > .info > .categoryname > a:hover,
.course_category_tree.frontpage-category-names .category>.info>.categoryname>a:focus{text-decoration:none}.course_category_tree.frontpage-category-names .category>.info>.categoryname:before{float:left;content:"\f138";font-family:FontAwesome;color:#c7c7c7;margin:0
10px 0 0;position:relative;top:0.5px;cursor:pointer}.dir-rtl .course_category_tree.frontpage-category-names .category>.info>.categoryname:before{float:right;content:"\f137";margin:0
0 0 10px}.course_category_tree.frontpage-category-names .category.with_children>.info>.categoryname:before{content:"\f13a";color:inherit}.course_category_tree.frontpage-category-names .category.with_children.collapsed>.info>.categoryname:before{content:"\f138"}.dir-rtl .course_category_tree.frontpage-category-names .category.with_children.collapsed>.info>.categoryname:before{content:"\f137"}#site-news-forum{border:1px
solid}#site-news-forum
h2{font-size:26px;line-height:32px;background:inherit;padding:10px
15px;border-bottom:1px solid;margin:0}#page-site-index
.subscribelink{padding:10px
15px 0}#page-site-index
.singlebutton.forumaddnew{padding:0
15px 10px}#page-site-index .singlebutton div,
#page-site-index .singlebutton.forumaddnew input[type="submit"]{margin:0}#site-news-forum
.forumpost{padding:20px;background:none;border:0;border-bottom:1px solid #ededed;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;margin:0}#site-news-forum .forumpost .row .left>a{display:inline-block}#site-news-forum .forumpost .picture
img.userpicture{-webkit-border-radius:18px;-moz-border-radius:18px;border-radius:18px;margin:0}.dir-rtl #site-news-forum .forumpost .picture
img.userpicture{margin:0}#site-news-forum .forumpost
.subject{font-weight:normal;font-size:18px;color:inherit;line-height:27px}#site-news-forum .forumpost
.author{padding:3px
0 0}#site-news-forum .forumpost .author>a{text-decoration:underline}#site-news-forum .forumpost .author > a:hover,
#site-news-forum .forumpost .author>a:focus{text-decoration:none}#site-news-forum .forumpost .content
.posting.fullpost{line-height:24px;margin-top:4px}#site-news-forum
.forumolddiscuss{padding:12px
15px}#frontpage-course-list{border:1px
solid}#frontpage-course-list
h2{font-size:26px;line-height:32px;background:inherit;padding:10px
15px;border-bottom:1px solid;margin:0}#frontpage-course-list .courses.frontpage-course-list-all{padding:15px}#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox{max-width:147px;padding:15px
0 10px;margin:0
auto}#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-coursethumb{max-width:135px;background:#fff;padding:5px;border:1px
solid #ddd}#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-coursethumb
a{display:block}#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-courseinfo{text-align:center}#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-courseinfo
h5{margin-bottom:6px}#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-courseinfo h5>a{color:inherit;display:inline-block}#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-courseinfo .readmore>a{font-size:12px;color:#808080;line-height:18px}#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-courseinfo .readmore>a>.fa{margin-left:5px}.dir-rtl #frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-courseinfo .readmore>a>.fa{margin-right:5px;margin-left:0}.course_category_tree .category>.info{background:#fff;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZmJmYmZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);background:-moz-linear-gradient(top,  #fff 0%, #fbfbfb 5%, #e8e8e8 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#fbfbfb), color-stop(100%,#e8e8e8));background:-webkit-linear-gradient(top,  #fff 0%,#fbfbfb 5%,#e8e8e8 100%);background:-o-linear-gradient(top,  #fff 0%,#fbfbfb 5%,#e8e8e8 100%);background:-ms-linear-gradient(top,  #fff 0%,#fbfbfb 5%,#e8e8e8 100%);background:linear-gradient(to bottom,  #fff 0%,#fbfbfb 5%,#e8e8e8 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );padding:0
15px;border-color:#d4d4d4;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;margin:9px
0}.course_category_tree .category>.info>.categoryname{font-size:18px;line-height:24px;padding:12px
18px;margin:0}.course_category_tree .category>.info>.categoryname>a{color:#545251}.course_category_tree .category > .info > .categoryname > a:hover,
.course_category_tree .category>.info>.categoryname>a:focus{text-decoration:none}@media (min-width: 980px){.course_category_tree .category>.info>.categoryname{padding-left:27px}.dir-rtl .course_category_tree .category>.info>.categoryname{padding-left:18px;padding-right:27px}}.coursebox{padding:10px;border-style:solid;border-color:#d5d5d5;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.courses
.coursebox.collapsed{padding:10px;margin-bottom:9px}.coursebox>.info{clear:both;overflow:hidden}.coursebox>.info>.coursename{float:left;font-size:18px;line-height:24px;margin:3px
0}.coursebox>.info>h3.coursename{margin:3px
0}.coursebox > .info > .coursename
a{color:inherit;padding-left:27px;background-position:left center}.dir-rtl .coursebox > .info > .coursename
a{padding-left:0;padding-right:27px;background-position:right center}.coursebox > .info > .coursename a:hover,
.coursebox > .info > .coursename a:focus{color:inherit;text-decoration:none}.coursebox
.content{min-height:100px;margin:10px
0 0;position:relative}.coursebox .content
.summary{}.coursebox .content .summary
p{font-size:16px;line-height:22px;margin:0}.coursebox .content
.teachers{padding-top:5px}.coursebox .content .teachers
li{color:#818181;line-height:24px}.coursebox .content .teachers,
.coursebox .content .courseimage,
.coursebox .content .coursefile,
.dir-rtl .coursebox .content .teachers,
.dir-rtl .coursebox .content .courseimage,
.dir-rtl .coursebox .content
.coursefile{float:none;width:auto;margin:0;clear:none}.coursebox .content .courseimage,
.coursebox .content .coursefile,
.dir-rtl .coursebox .content .courseimage,
.dir-rtl .coursebox .content
.coursefile{position:absolute;top:0}.coursebox .content .summary,
.coursebox .content
.coursecat{float:none;width:auto;margin:0}@media (max-width: 599px){.coursebox
.content{padding:120px
0 0}.coursebox .content .courseimage,
.coursebox .content .coursefile,
.dir-rtl .coursebox .content .courseimage,
.dir-rtl .coursebox .content
.coursefile{left:50%;margin-left:-50px}}@media (min-width: 600px){.coursebox .content .courseimage,
.coursebox .content
.coursefile{left:0}.dir-rtl .coursebox .content .courseimage,
.dir-rtl .coursebox .content
.coursefile{right:0;left:auto}.coursebox .content .summary,
.coursebox .content
.coursecat{padding:0
0 0 110px}.dir-rtl .coursebox .content .summary,
.dir-rtl .coursebox .content
.coursecat{padding:0
110px 0 0}.coursebox .content
.teachers{padding-left:110px}.dir-rtl .coursebox .content
.teachers{padding-right:110px;padding-left:0}}@media (min-width: 768px){.coursebox .content .summary,
.coursebox .content
.coursecat{padding:0
0 0 120px}.dir-rtl .coursebox .content .summary,
.dir-rtl .coursebox .content
.coursecat{padding:0
120px 0 0}.coursebox .content
.teachers{padding-left:120px}.dir-rtl .coursebox .content
.teachers{padding-right:120px;padding-left:0}}.courses
.coursebox.even{background:#fff}.courses .coursebox:hover,
.course_category_tree .courses>.paging.paging-morelink:hover{background:#fff}.course-content .topics
h3{font-size:21px}.course-content ul
li.section.main{border-bottom:1px solid #d5d5d5}.course-content ul li.section.main .section
li.activity{padding-bottom:10px}.course-content .topics .section .summary .no-overflow{color:#3a87ad;line-height:24px;background:#d9edf7;padding:10px
20px;border:1px
solid #bce8f1;border-radius:5px;margin-bottom:25px}.course-content .topics .section .summary .no-overflow
p{color:#3a87ad;line-height:24px;margin-bottom:0}.course-content .topics .section .activity .activityinstance
a{font-size:18px;color:#545251;line-height:24px}.course-content .topics .section .activity .activityinstance a
img{margin-right:12px}.course-content .topics .section .activity .activityinstance a
.instancename{vertical-align:top}.course-content .topics .section .activity .availabilityinfo .no-overflow,
.course-content .topics .section .activity .contentafterlink .no-overflow{line-height:22px}#page-message-edit #region-main .mform
fieldset{margin-bottom:20px}#page-message-edit #region-main .mform
legend{padding-bottom:5px;margin-bottom:20px}#page-message-edit #region-main #messageprocessor_general>div{margin:0
0 5px}#page-message-edit #region-main #messageprocessor_general>div>label{font-size:14px;display:inline-block;margin-bottom:0}.groupmanagementtable #buttonscell p.arrow_button
input{padding:0
10px;margin-top:10px;text-transform:none}#page-admin-roles-allow #region-main
.generaltable{margin-top:20px}.userprofile
.userprofilebox{}.userprofile .userprofilebox
.profilepicture{}.userprofile .userprofilebox .profilepicture
a{display:block}.userprofile .userprofilebox
.descriptionbox{}.userprofile .userprofilebox .descriptionbox .description:empty{margin:0}.userprofile .userprofilebox .descriptionbox
.description{margin:0
0 10px}.userprofile .userprofilebox .descriptionbox .description
p{line-height:18px;margin-bottom:0}.userprofile .userprofilebox .descriptionbox
.list{margin:0;overflow:hidden}.userprofile .userprofilebox .descriptionbox .list
dt{float:none;width:auto;clear:none}.userprofile .userprofilebox .descriptionbox .list
dd{margin:0
0 10px;clear:none}@media (max-width: 479px){.userprofile .userprofilebox
.profilepicture{float:none;width:106px;margin:0
auto 10px}.userprofile dl.list dt,
.userprofile dl.list dd,
.dir-rtl .userprofile dl.list dt,
.dir-rtl .userprofile dl.list
dd{text-align:center}}@media (min-width: 480px){.userprofile .userprofilebox
.profilepicture{float:left}.dir-rtl .userprofile .userprofilebox
.profilepicture{float:right}.userprofile .userprofilebox
.descriptionbox{padding:0
0 0 118px}.dir-rtl .userprofile .userprofilebox
.descriptionbox{padding:0
118px 0 0}.userprofile dl.list dt,
.userprofile dl.list
dd{text-align:left}.dir-rtl .userprofile dl.list dt,
.dir-rtl .userprofile dl.list
dd{text-align:right}}.message
.contactselector{float:none;width:auto;margin:0
0 20px}.message .contactselector
.paging{margin:10px
0 0}.message .contactselector
#message_participants{margin-top:10px}.message .contactselector #message_participants tr th,
.message .contactselector #message_participants tr
td{padding:5px}.message
.messagearea{float:none;width:auto;min-height:50px;border:0}.message .messagearea .messagesend
.messagesendbox{box-sizing:border-box}#page-message-index .message .messagearea #advancedcontactssearchspan table.message_form tr>td>input[type="text"]{min-width:150px;height:40px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}#page-admin-report-log-index.dir-ltr #region-main .logselecform div label+select{margin-right:20px}#page-admin-report-log-index.dir-rtl #region-main .logselecform div label+select{margin-left:20px}#page-admin-report-log-index #region-main .logselecform div label+select:after{clear:both;overflow:hidden;display:table;content:""}#page-admin-report-log-index #region-main .logselecform div input[type="submit"]{display:block}#page-admin-report-performance-index #region-main
#performanceissuereporttable{margin-top:20px}.custom-login-page{padding:50px
0}.custom-login-page
.loginbox{background:inherit;padding:10px
20px;border:3px
solid #fff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 0 9px 0 rgba(0, 0, 0, 0.5);-moz-box-shadow:0 0 9px 0 rgba(0, 0, 0, 0.5);box-shadow:0 0 9px 0 rgba(0, 0, 0, 0.5);margin:50px
auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}.custom-login-page .loginbox
h3{color:#fff;margin:0}.custom-login-page .loginbox
.formwrap{}.custom-login-page .loginbox .formwrap
form{margin:0}.custom-login-page .loginbox .formwrap .form-fields{margin:20px
0 0}.custom-login-page .loginbox .formwrap .form-fields
label{font-size:16px;line-height:22px;color:#fff;margin-bottom:5px}.custom-login-page .loginbox .formwrap .form-fields .textbox-wrap{background:#fff;padding-right:48px;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}.dir-rtl .custom-login-page .loginbox .formwrap .form-fields .textbox-wrap{padding-right:0;padding-left:48px}.custom-login-page .loginbox .formwrap .form-fields
input{max-width:277px;width:100%;height:56px;font-size:18px;line-height:36px;background:none;padding:10px;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;margin:0}.dir-ltr .custom-login-page .loginbox .formwrap .form-fields
input{padding-right:0}.dir-rtl .custom-login-page .loginbox .formwrap .form-fields
input{padding-left:0}.custom-login-page .loginbox .formwrap .form-fields
input{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.custom-login-page .loginbox .formwrap .form-fields .textbox-wrap
.fa{font-size:21px;color:inherit;position:absolute}.custom-login-page .loginbox .formwrap .form-fields .textbox-wrap .fa-user{top:17px;right:21px}.dir-rtl .custom-login-page .loginbox .formwrap .form-fields .textbox-wrap .fa-user{right:auto;left:21px}.custom-login-page .loginbox .formwrap .form-fields .textbox-wrap .fa-lock{top:18px;right:24px}.dir-rtl .custom-login-page .loginbox .formwrap .form-fields .textbox-wrap .fa-lock{right:auto;left:22px}.custom-login-page .loginbox .formwrap .support-fields{padding:10px
0}.custom-login-page .loginbox .formwrap .support-fields
p{margin:0
0 5px}.custom-login-page .loginbox .formwrap .support-fields p>a{color:#fff;text-decoration:underline}.custom-login-page .loginbox .formwrap .support-fields p > a:hover,
.custom-login-page .loginbox .formwrap .support-fields p>a:focus{text-decoration:none}.custom-login-page .loginbox .formwrap .support-fields p>label.checkbox{color:#fff;margin:0;display:inline-block}.custom-login-page .loginbox .formwrap .support-fields p>label.checkbox>input[type="checkbox"]{margin-top:4px}.custom-login-page .loginbox .formwrap .form-action{padding:10px
0}.custom-login-page .loginbox .formwrap .form-action
input{height:56px;font-size:18px;color:#585858;line-height:56px;text-transform:none;background:#fff;padding:0
30px;border:0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin:0}.custom-login-page .loginbox .formwrap .form-action input:hover,
.custom-login-page .loginbox .formwrap .form-action input:focus,
.custom-login-page .loginbox .formwrap .form-action input:active{background:#b5b5b5}.custom-login-page .loginbox .formwrap form#guestlogin .form-action
input{height:38px;line-height:38px;padding:0
15px}@media (max-width: 767px){.custom-login-page .loginbox .formwrap .form-action{text-align:center}}@media (min-width: 480px){.custom-login-page
.loginbox{max-width:75%}}@media (min-width: 600px){.custom-login-page
.loginbox{max-width:60%}}@media (min-width: 768px){.custom-login-page .loginbox
.formwrap{padding:12px
0 0}.custom-login-page
.loginbox{max-width:none;width:650px}.custom-login-page .loginbox .formwrap .form-fields{float:left;margin:0
20px 0 0}.dir-rtl .custom-login-page .loginbox .formwrap .form-fields{float:right;margin:0
0 0 20px}.custom-login-page .loginbox .formwrap .form-fields .textbox-wrap{width:227px}.custom-login-page .loginbox .formwrap .support-fields{padding-bottom:7px}.custom-login-page .loginbox .formwrap .support-fields
p{float:left;width:227px;margin:0
20px 0 0}.dir-rtl .custom-login-page .loginbox .formwrap .support-fields
p{float:right;margin:0
0 0 20px}.custom-login-page .loginbox .formwrap .form-action{float:left;padding:0}.dir-rtl .custom-login-page .loginbox .formwrap .form-action{float:right}.custom-login-page .loginbox .formwrap form#guestlogin .form-action,
.dir-rtl .custom-login-page .loginbox .formwrap form#guestlogin .form-action{float:none;padding:10px
0}}@media (min-width: 980px){.custom-login-page
.loginbox{width:750px}.custom-login-page .loginbox .formwrap .form-fields .textbox-wrap{width:277px}.custom-login-page .loginbox .formwrap .support-fields
p{width:277px}}#page-admin-user-profile-index #region-main .profileeditor div.singleselect,
#page-admin-user-profile-index #region-main .profileeditor
div.singlebutton{margin-bottom:10px}@media (max-width: 767px){#page-admin-user-profile-index #region-main
.profileeditor{text-align:center}#page-admin-user-profile-index #region-main .profileeditor div.singleselect,
#page-admin-user-profile-index #region-main .profileeditor
div.singlebutton{display:block}#page-admin-user-profile-index #region-main .profileeditor
div.singleselect{margin-right:0}#page-admin-user-profile-index #region-main .profileeditor
div.singlebutton{margin:10px
0 20px}}table#tag-management-list td input[type="text"]{max-width:224px;height:40px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}.custom-site-expo{padding:20px
0}.custom-site-expo
.ebox{margin:25px
0}.custom-site-expo .ebox .ebox-head{margin:0
0 5px}.custom-site-expo .ebox .ebox-head
.rcthumb{width:138px;height:138px;font-size:63px;color:#fff;line-height:138px;background:inherit;text-align:center;-webkit-border-radius:69px;-moz-border-radius:69px;border-radius:69px;-webkit-box-shadow:0 5px 0 0 rgba(189, 189, 189, 0.86);-moz-box-shadow:0 5px 0 0 rgba(189, 189, 189, 0.86);-o-box-shadow:0 5px 0 0 rgba(189, 189, 189, 0.86);box-shadow:0 5px 0 0 rgba(189, 189, 189, 0.86);margin:0
auto 5px}.custom-site-expo .ebox .ebox-body{padding:5px
0 0;text-align:center}.custom-site-expo .ebox .ebox-body
h6{font-weight:bold;font-size:15px;color:#000;line-height:21px;text-transform:uppercase}.custom-site-expo .ebox .ebox-body
p{line-height:22px;margin:0}.theme-color-schemes
.thumbnail{max-width:100px;padding:5px;border-color:#efefef;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.theme-color-schemes .thumbnail>img{margin:0}.theme-color-schemes .thumbnail
h6{font-size:16px;color:#545251;margin-bottom:0;text-transform:none;text-align:center}@media (max-width: 767px){.theme-color-schemes
.thumbnail{margin:0
auto}}@media (min-width: 768px){.dir-ltr .theme-color-schemes{margin-left:200px}}@media (min-width: 980px){.dir-ltr .theme-color-schemes{margin-left:220px}.dir-rtl .theme-color-schemes{margin-right:220px}}@media (min-width: 1200px){.dir-ltr .theme-color-schemes{margin-left:265px}.dir-rtl .theme-color-schemes{margin-right:165px}}@font-face{font-family:'FontAwesome';src:url('http://localhost/moodle/theme/eguru/fonts/fontawesome-webfont.eot?v=4.4.0');src:url('http://localhost/moodle/theme/eguru/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),url('http://localhost/moodle/theme/eguru/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),url('http://localhost/moodle/theme/eguru/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),url('http://localhost/moodle/theme/eguru/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),url('http://localhost/moodle/theme/eguru/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1);-webkit-transform:scale(-1,1);-ms-transform:scale(-1,1);transform:scale(-1,1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-feed:before,.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-intersex:before,.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-genderless:before{content:"\f22d"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}.fa-yc:before,.fa-y-combinator:before{content:"\f23b"}.fa-optin-monster:before{content:"\f23c"}.fa-opencart:before{content:"\f23d"}.fa-expeditedssl:before{content:"\f23e"}.fa-battery-4:before,.fa-battery-full:before{content:"\f240"}.fa-battery-3:before,.fa-battery-three-quarters:before{content:"\f241"}.fa-battery-2:before,.fa-battery-half:before{content:"\f242"}.fa-battery-1:before,.fa-battery-quarter:before{content:"\f243"}.fa-battery-0:before,.fa-battery-empty:before{content:"\f244"}.fa-mouse-pointer:before{content:"\f245"}.fa-i-cursor:before{content:"\f246"}.fa-object-group:before{content:"\f247"}.fa-object-ungroup:before{content:"\f248"}.fa-sticky-note:before{content:"\f249"}.fa-sticky-note-o:before{content:"\f24a"}.fa-cc-jcb:before{content:"\f24b"}.fa-cc-diners-club:before{content:"\f24c"}.fa-clone:before{content:"\f24d"}.fa-balance-scale:before{content:"\f24e"}.fa-hourglass-o:before{content:"\f250"}.fa-hourglass-1:before,.fa-hourglass-start:before{content:"\f251"}.fa-hourglass-2:before,.fa-hourglass-half:before{content:"\f252"}.fa-hourglass-3:before,.fa-hourglass-end:before{content:"\f253"}.fa-hourglass:before{content:"\f254"}.fa-hand-grab-o:before,.fa-hand-rock-o:before{content:"\f255"}.fa-hand-stop-o:before,.fa-hand-paper-o:before{content:"\f256"}.fa-hand-scissors-o:before{content:"\f257"}.fa-hand-lizard-o:before{content:"\f258"}.fa-hand-spock-o:before{content:"\f259"}.fa-hand-pointer-o:before{content:"\f25a"}.fa-hand-peace-o:before{content:"\f25b"}.fa-trademark:before{content:"\f25c"}.fa-registered:before{content:"\f25d"}.fa-creative-commons:before{content:"\f25e"}.fa-gg:before{content:"\f260"}.fa-gg-circle:before{content:"\f261"}.fa-tripadvisor:before{content:"\f262"}.fa-odnoklassniki:before{content:"\f263"}.fa-odnoklassniki-square:before{content:"\f264"}.fa-get-pocket:before{content:"\f265"}.fa-wikipedia-w:before{content:"\f266"}.fa-safari:before{content:"\f267"}.fa-chrome:before{content:"\f268"}.fa-firefox:before{content:"\f269"}.fa-opera:before{content:"\f26a"}.fa-internet-explorer:before{content:"\f26b"}.fa-tv:before,.fa-television:before{content:"\f26c"}.fa-contao:before{content:"\f26d"}.fa-500px:before{content:"\f26e"}.fa-amazon:before{content:"\f270"}.fa-calendar-plus-o:before{content:"\f271"}.fa-calendar-minus-o:before{content:"\f272"}.fa-calendar-times-o:before{content:"\f273"}.fa-calendar-check-o:before{content:"\f274"}.fa-industry:before{content:"\f275"}.fa-map-pin:before{content:"\f276"}.fa-map-signs:before{content:"\f277"}.fa-map-o:before{content:"\f278"}.fa-map:before{content:"\f279"}.fa-commenting:before{content:"\f27a"}.fa-commenting-o:before{content:"\f27b"}.fa-houzz:before{content:"\f27c"}.fa-vimeo:before{content:"\f27d"}.fa-black-tie:before{content:"\f27e"}.fa-fonticons:before{content:"\f280"}h1,h2,h3,h4,h5,h6{color:#2b4e84}a{color:#2b4e84}a:hover,a:focus{color:#2b4e84}.dropdown-menu{background:#3e65a0}.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{background:#2b4e84}.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{background:#2b4e84}.jsenabled .usermenu .moodle-actionmenu.show{background:#183054}.usermenu .moodle-actionmenu:hover .toggle-display,
.usermenu .moodle-actionmenu:focus .toggle-display{background:#183054}.moodle-actionmenu.show[data-enhanced] .menu{background:#183054;background:rgba(24, 48, 84, .9)}.moodle-actionmenu.show[data-enhanced] .menu a:hover,
.moodle-actionmenu.show[data-enhanced] .menu a:focus,
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover{background:#3e65a0}.jsenabled .usermenu .moodle-actionmenu > .menu
.filler{background:#183054}.btn-primary{background:#3e65a0}.btn-primary:hover,.btn-primary:focus,.btn-primary:active{background:#2b4e84}#header .header-main{background:#3e65a0}#header .custom-menu>ul>li{background-image:url(/moodle/theme/image.php/eguru/theme/1450231035/cs02/bg-menu-divider)}#header .custom-menu > ul > li > a:hover,
#header .custom-menu>ul>li>a:focus{background:#183054}#header .header-menubar{background:#2b4e84}#header .header-menubar .navbar .nav > li > a:focus,
#header .header-menubar .navbar .nav>li>a:hover{background-color:#183054}#header .header-menubar .navbar .nav > .active > a,
#header .header-menubar .navbar .nav > .active > a:hover,
#header .header-menubar .navbar .nav>.active>a:focus{background:#183054}#header .header-menubar .navbar .nav li.dropdown.open > .dropdown-toggle,
#header .header-menubar .navbar .nav li.dropdown.active > .dropdown-toggle,
#header .header-menubar .navbar .nav li.dropdown.open.active>.dropdown-toggle{background:#183054}#header .header-menubar .dropdown-menu{background:#183054}#header .header-menubar .dropdown-menu > li > a:hover,
#header .header-menubar .dropdown-menu > li > a:focus,
#header .header-menubar .dropdown-submenu:hover > a,
#header .header-menubar .dropdown-submenu:focus>a{background:#3e65a0}#header .header-menubar .dropdown-menu > .active > a,
#header .header-menubar .dropdown-menu > .active > a:hover,
#header .header-menubar .dropdown-menu>.active>a:focus{background:#3e65a0}#header .header-menubar .navbar .btn-navbar{background:#3e65a0}#header .header-menubar .navbar .btn-navbar:hover,
#header .header-menubar .navbar .btn-navbar:focus,
#header .header-menubar .navbar .btn-navbar:active,
#header .header-menubar .navbar .btn-navbar.active,
#header .header-menubar .navbar .btn-navbar.disabled,
#header .header-menubar .navbar .btn-navbar[disabled]{background:#3e65a0}#header .header-menubar .navbar .btn-navbar:active,
#header .header-menubar .navbar .btn-navbar.active{background:#3e65a0 \9}#header .header-menubar .custom-nav-search .fields-wrap{background:#3b5f96}@media (max-width: 979px){#header .header-menubar .collapse.in,
#header .header-menubar .navbar .nav-collapse.active{border-top-color:#3e65a0}}#footer .footer-main{background:#3e65a0}#footer .social-media > ul > li > a:hover,
#footer .social-media>ul>li>a:focus{color:#183054}#footer .social-media > ul > li > a:hover .media-icon,
#footer .social-media > ul > li > a:focus .media-icon{background:#183054}#footer .footer-foot{background:#2b4e84}.homepage-carousel .carousel-inner > .item .carousel-content .carousel-btn>a{background:#3e65a0;border-bottom-color:#183054;border-bottom-color:rgba(24, 48, 84, .9)}.homepage-carousel .carousel-inner > .item .carousel-content .carousel-btn > a:hover,
.homepage-carousel .carousel-inner > .item .carousel-content .carousel-btn>a:focus{background:#3e65a0;border-bottom-color:#183054;border-bottom-color:rgba(24, 48, 84, .9)}.homepage-carousel .carousel-control{background:#2b4e84}.titlebar .slidenav .nav-item{color:#2b4e84;border-color:#2b4e84}.titlebar .slidenav .nav-item:hover,
.titlebar .slidenav .nav-item:focus{background:#2b4e84}.custom-courses-list .course-box
.thumb{border-color:#ccd8e8}.custom-courses-list .course-box .info h5
a{color:#2b4e84}#frontpage-course-list{border-color:#c0ccdc}#frontpage-course-list
h2{background:#e8f0fb;border-bottom-color:#c0ccdc}#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-courseinfo h5>a{color:#2b4e84}#frontpage-category-names{border-color:#c0ccdc}#frontpage-category-names
h2{background:#e8f0fb;border-bottom-color:#c0ccdc}.course_category_tree.frontpage-category-names .category.with_children>.info>.categoryname:before{color:#2b4e84}#site-news-forum{border-color:#c0ccdc}#site-news-forum
h2{background:#e8f0fb;border-bottom-color:#c0ccdc}#site-news-forum .forumpost
.subject{color:#2b4e84}#page-header .breadcrumb>li>.divider{color:#183054}#page-header .breadcrumb>li>.divider:before{color:#183054}select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:#3e65a0}input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"],
td.submit
input{background:#3e65a0}input.form-submit:hover,
input#id_submitbutton:hover,
input#id_submitbutton2:hover,
.path-admin .buttons input[type="submit"]:hover,
td.submit input:hover,
input.form-submit:focus,
input#id_submitbutton:focus,
input#id_submitbutton2:focus,
.path-admin .buttons input[type="submit"]:focus,
td.submit input:focus,
input.form-submit:active,
input#id_submitbutton:active,
input#id_submitbutton2:active,
.path-admin .buttons input[type="submit"]:active,
td.submit input:active,
input.form-submit.active,
input#id_submitbutton.active,
input#id_submitbutton2.active,
.path-admin .buttons input.active[type="submit"],
td.submit input.active,
input.form-submit.disabled,
input#id_submitbutton.disabled,
input#id_submitbutton2.disabled,
.path-admin .buttons input.disabled[type="submit"],
td.submit input.disabled,
input.form-submit[disabled],
input#id_submitbutton[disabled],
input#id_submitbutton2[disabled],
.path-admin .buttons input[type="submit"][disabled],
td.submit input[disabled]{background:#2b4e84}.addbloglink
a{background:#3e65a0}.addbloglink a:hover,
.addbloglink a:focus{background:#2b4e84}.block{border-color:#c0ccdc}.block
.header{background:#e8f0fb;border-bottom-color:#c0ccdc}.block .header
h2{color:#2b4e84}.block_navigation .block_tree .active_tree_node > a,
.block_navigation .block_tree .tree_item > a:hover,
.block_navigation .block_tree .tree_item>a:focus{color:#2b4e84}.block_settings .block_tree .active_tree_node > a,
.block_settings .block_tree .tree_item > a:hover,
.block_settings .block_tree .tree_item>a:focus{color:#2b4e84}.block .minicalendar td.day.today,
.block .minicalendar td.day:hover{background:#2b4e84}table.flexible th,
.generaltable
th{}table.flexible thead th,
.generaltable thead
th{background:#3e65a0}table.flexible tbody th,
.generaltable tbody
th{color:#3e65a0}.path-mod-forum .forumheaderlist thead
.header{background:#3e65a0}.course_category_tree .category>.info>.categoryname{background-image:url(/moodle/theme/image.php/eguru/theme/1450231035/cs02/t/collapsed_empty)}.dir-rtl .course_category_tree .category>.info>.categoryname{background-image:url(/moodle/theme/image.php/eguru/theme/1450231035/cs02/t/collapsed_empty_rtl)}.course_category_tree .category.with_children>.info>.categoryname{background-image:url(/moodle/theme/image.php/eguru/theme/1450231035/cs02/t/expanded)}.course_category_tree .category.with_children.collapsed>.info>.categoryname{background-image:url(/moodle/theme/image.php/eguru/theme/1450231035/cs02/t/collapsed)}.dir-rtl .course_category_tree .category.with_children.collapsed>.info>.categoryname{background-image:url(/moodle/theme/image.php/eguru/theme/1450231035/cs02/t/collapsed_rtl)}.coursebox > .info > .coursename
a{color:#2b4e84}.coursebox > .info > .coursename a:hover,
.coursebox > .info > .coursename a:focus{color:#183054}.forumpost .options .commands > a:hover,
.forumpost .options .commands > a:focus,
.forumpost .options .footer > a:hover,
.forumpost .options .footer>a:focus{color:#2b4e84}.blog_entry
.audience{color:#2b4e84}.blog_entry .content .commands > a:hover,
.blog_entry .content .commands>a:focus{color:#2b4e84}.comment-area .fd>a{background:#2b4e84}.comment-area .fd > a:hover,
.comment-area .fd>a:focus{background:#7a437a}.custom-login-page
.loginbox{background:#2b4e84}.custom-login-page .loginbox .formwrap .form-fields .textbox-wrap
.fa{color:#2b4e84}.custom-site-expo .ebox .ebox-head
.rcthumb{background:#3e65a0}